<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta charset="UTF-8">
<title>Tela de Login</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h2 align="center">Realize o login</h2>
		<div class="card">
			<div class="card-content">
				<form action="/mercado/login" method="post">
					<div>
						<label>Email: </label> <input type="text" id="name" name="email" required>
					</div>
					<div>
						<label>Senha: </label> <input type="password" id="senha" name="senha" required>
					</div>
					<div>
						<button type="submit" class="waves-effect waves-light btn">Entrar</button>
						<button type="reset" class="waves-effect waves-light btn">Limpar</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
</body>
</html>